// out: ../css/media.css, compress: true, strictMath: true
@import "prefixer";
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic);

	
@media only screen and (max-width: 768px) {
	#MainPageMenu .vk-container img,
	#MainPageMenu .instagram-container img {
			position: relative;
	}
}

@media only screen and (min-width: 768px) {
	#MainPageMenu .ncf_element-table-item {
		height: 324px;
		}
}
	
@media all and (max-width: 1251px) {
    #MainPageMenu {
        .ncf_element-table-item-container {
            h1 {
                font-size: 69px;
            }
            .ncf_menu-item-description {
                font-size: 28px;
            }
        }
    }
    #PriceList {
        .ncf_element-table-item-container {
            &.definition4 {
                padding: 18px 10px;
                font-size: 40px;
            }
        }
    }
}

@media all and (min-width: 1201px) and (max-width: 1250px) {
    #MainPageMenu {
        .ncf_element-table-item-container {
            h1 {
                font-size: 65px;
            }
            .ncf_menu-item-description {
                font-size: 25px;
            }
            &#Poster {
                img {
                    width: 212px;
                }
            }
            &#Price {
                img {
                    width: 195px;
                }
            }
            &#Tour3D {
                img {
                    width: 247px;
                }
            }
            &#VkGroup {
                img {
                    width: 472px;
                }
            }
        }
    }
    #PriceList {
        .ncf_element-table-item-container {
            &.definition4 {
                padding: 25px 10px;
                line-height: 40px;
                font-size: 38px;
                >div {
                    display: inline-block;
                    margin: 25px 20px 15px;
                    padding: 4px 15px 10px 15px;
                    font-size: 68px;
                    line-height: 72px;
                }
                span {
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media all and (min-width: 1151px) and (max-width: 1200px) {
    #MainPageMenu {
        .ncf_element-table-item-container {
            h1 {
                font-size: 63px;
            }
            .ncf_menu-item-description {
                font-size: 23px;
            }
            &#Poster {
                img {
                    width: 200px;
                }
            }
            &#Price {
                img {
                    width: 183px;
                }
            }
            &#Tour3D {
                img {
                    width: 235px;
                }
            }
            &#VkGroup {
                img {
                    width: 450px;
                }
            }
        }
    }
    #PriceList {
        .ncf_element-table-item-container {
            &.definition1 {
                padding: 40px 30px 0 26px;
            }
            &.definition4 {
                padding: 30px 10px;
                line-height: 36px;
                font-size: 36px;
                >div {
                    display: inline-block;
                    margin: 25px 20px 15px;
                    padding: 4px 15px 10px 15px;
                    font-size: 60px;
                    line-height: 70px;
                }
                span {
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media all and (min-width: 1101px) and (max-width: 1150px) {
    #MainPageMenu {
        .ncf_element-table-item-container {
            h1 {
                font-size: 58px;
            }
            .ncf_menu-item-description {
                font-size: 23px;
            }
            &#Poster {
                img {
                    width: 188px;
                }
            }
            &#Price {
                img {
                    width: 170px;
                }
            }
            &#Tour3D {
                img {
                    width: 222px;
                }
            }
            &#VkGroup {
                img {
                    width: 438px;
                }
            }
            &#Contacts {
                .ncf_menu-item-contacts-address {
                    font-size: 28px;
                }
                .ncf_menu-item-contacts-phone {
                    font-size: 31.33px;
                }
            }
        }
    }
    #PriceList {
        .ncf_element-table-item-container {
            &.definition1 {
                padding: 30px 30px 0 26px;
            }
            &.definition4 {
                padding: 30px 10px;
                line-height: 35px;
                font-size: 32px;
                >div {
                    display: inline-block;
                    margin: 25px 20px 15px;
                    padding: 4px 15px 10px 15px;
                    font-size: 60px;
                    line-height: 70px;
                }
                span {
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media all and (min-width: 1051px) and (max-width: 1100px) {
    #MainPageMenu {
        .ncf_element-table-item-container {
            h1 {
                font-size: 52px;
            }
            .ncf_menu-item-description {
                font-size: 21px;
            }
            &#Poster {
                img {
                    width: 176px;
                }
            }
            &#Price {
                img {
                    width: 158px;
                }
            }
            &#Tour3D {
                img {
                    width: 210px;
                }
            }
            &#VkGroup {
                img {
                    width: 420px;
                }
            }
            &#Contacts {
                .ncf_menu-item-contacts-address {
                    font-size: 26px;
                }
                .ncf_menu-item-contacts-phone {
                    font-size: 30.33px;
                }
            }
        }
    }
    #PriceList {
        .ncf_element-table-item-container {
            font-size: 19px;
            line-height: 25px;
            &.definition1 {
                padding: 24px 30px 0 26px;
            }
            &.definition4 {
                padding: 30px 10px;
                line-height: 35px;
                font-size: 32px;
                >div {
                    display: inline-block;
                    margin: 25px 20px 15px;
                    padding: 4px 15px 10px 15px;
                    font-size: 50px;
                    line-height: 56px;
                }
                span {
                    text-transform: uppercase;
                }
            }
            &.definition5 {
                padding: 50px 40px 0 34px;
            }
        }
    }
}

@media all and (min-width: 980px) and (max-width: 1050px) {
    #MainPageMenu {
        .ncf_element-table-item-container {
            h1 {
                font-size: 46px;
            }
            .ncf_menu-item-description {
                font-size: 19px;
            }
            &#Poster {
                img {
                    width: 164px;
                }
            }
            &#Price {
                img {
                    width: 147px;
                }
            }
            &#Tour3D {
                img {
                    width: 198px;
                }
            }
            &#VkGroup {
                img {
                    width: 405px;
                }
            }
            &#Contacts {
                .ncf_menu-item-contacts-address {
                    font-size: 24px;
                }
                .ncf_menu-item-contacts-phone {
                    font-size: 29.33px;
                }
            }
        }
    }
    #PriceList {
        .ncf_element-table-item-container {
            font-size: 18px;
            line-height: 24px;
            &.definition1 {
                padding: 24px 30px 0 26px;
            }
            &.definition4 {
                padding: 40px 10px;
                line-height: 35px;
                font-size: 32px;
                >div {
                    display: inline-block;
                    margin: 25px 20px 15px;
                    padding: 4px 15px 10px 15px;
                    font-size: 30px;
                    line-height: 35px;
                }
                span {
                    text-transform: uppercase;
                }
            }
            &.definition5 {
                padding: 50px 40px 0 34px;
            }
        }
    }
}

@media all and (max-width: 979px) {
    //афиша
    .ncf_schedule-area {
        display: block;
        .ncf_schedule-notes {
            width: initial;
            display: block;
            h2 {
                text-align: center;
            }
        }
        .ncf_calendar {
            display: block;
            padding: 19px 16px;
            float: none;
        }
    }
    //новости
    .ncf_news-content {
        display: block;
        .ncf_news-content-cell {
            width: 100%;
            display: block;
            &.ncf_news-area {}
            &.ncf_media-area {}
        }
    }
    .ncf_element-table {
        .ncf_element-table-item {
            width: 100%;
        }
    }
    .ncf_element-table {
        &#Photos, &#Videos {
            .ncf_element-table-item {
                width: 50%;
            }
        }
    }
}

@media all and (max-width: 859px) {
    .uk-slidenav-position .uk-slidenav {
        display: block;
    }
    .ncf_header {
        .ncf_header-logo {
            width: 50px;
            margin: 15px 0 0 12px;
        }
        .ncf_header-lable {
            .ncf_header-lable-up {
                font-size: 25.17px;
            }
            .ncf_header-lable-down {
                font-size: 18.83px;
            }
        }
    }
    .ncf_footer {
        font-size: 14.67px;
        .ncf_footer-info {
            padding: 25px 0 0 31px;
        }
        .ncf_footer-lables {
            padding: 30px 29px 0 0;
            .ncf_footer-lables-item {
                width: 32px;
                height: 32px;
                .prompt {
                    &::after, &:after {
                        content: " ";
                        right: 10px;
                    }
                }
            }
        }
    }
    .ncf_bg-title {
        line-height: 60px;
        font-size: 60px;
        .ncf_subtitle {
            font-size: 20px;
            line-height: 25px;
        }
    }
    .ncf_aquamarine-title {
        padding: 10px 31px 10px 0;
        font-size: 60px;
        .ncf_subtitle {
            font-size: 25px;
            line-height: 26px;
        }
    }
    //    главная
    .ncf_main-page-slider .ncf_slider-item .ncf_slider-item-info {
        .ncf_slider-item-info-title {
            font-size: 32.83px;
            line-height: 45px;
        }
        .ncf_slider-item-info-text {
            line-height: 22.83px;
            font-size: 15.83px;
        }
    }
    //афиша
    .ncf_schedule-area {
        display: block;
        .ncf_schedule-notes {
            width: initial;
            display: block;
            h2 {
                text-align: center;
            }
        }
        .ncf_calendar {
            display: block;
            padding: 19px 16px;
            float: none;
        }
    }
    //новости
    .ncf_news-content {
        display: block;
        .ncf_news-content-cell {
            width: 100%;
            display: block;
            &.ncf_news-area {}
            &.ncf_media-area {}
        }
    }
    .ncf_element-table {
        .ncf_element-table-item {
            width: 100%;
        }
    }
    .ncf_element-table {
        &#Photos, &#Videos {
            .ncf_element-table-item {
                width: 50%;
            }
        }
    }
    //    3д тур
    .ncf_tour-area .ncf_tour-container {
        height: 300px;
    }
}

@media all and (max-width: 639px) {
	.ncf_element-table-item {
		height: auto;
	}
    .ncf_header {
        .ncf_header-phone {
            display: none;
        }
    }
    .ncf_footer .ncf_footer-lables {
        display: none;
    }
    .ncf_bg-title {
        line-height: 42px;
        font-size: 42px;
        .ncf_subtitle {
            font-size: 18px;
            line-height: 18px;
        }
    }
    .ncf_page-description {
        padding: 15px 25px;
        line-height: initial;
        font-size: 14px;
    }
    .ncf_aquamarine-title {
        font-size: 42px;
        .ncf_subtitle {
            font-size: 18px;
            line-height: 18px;
        }
    }
    .ncf_order-hall-btn {
        width: 93%;
        button {
            width: 230px;
            height: 40px;
            font-size: 24px;
        }
    }
    .ncf_element-table {
        padding: 4px;
        .ncf_element-table-item {
            padding: 4px;
        }
    }
    //    главная
    .ncf_main-page-slider {
        display: none;
    }
    #MainPageMenu {
        .ncf_element-table-item-container {
            height: 180px;
            padding: 15px 6%;
            h1 {
                padding: 0;
                font-size: 44px;
            }
            .ncf_menu-item-description {
                padding: 0;
                font-size: 18px;
                line-height: 20px;
            }
            &#Poster {
                h1 {
                    padding: 20px 0 0 0;
                }
                img {
                    width: 130px;
                    margin: 10px 15px 0 0;
                }
            }
            &#Halls {
                h1 {
                    padding: 0;
                }
                .ncf_menu-item-description {
                    padding: 0;
                }
            }
            &#Price {
                h1 {
                    padding: 20px 0 0 0;
                }
                img {
                    width: 125px;
                    margin: 10px 10px 0 0;
                }
            }
            &#Tour3D {
                h1 {
                    padding: 0;
                }
                img {
                    width: 140px;
                    margin: -8px 0 0 0;
                }
            }
            &#VkGroup {
                h1 {
                    padding: 0;
                    font-size: 30px;
                    line-height: 45px;
                }
                img {
                    width: 300px;
                }
                .ncf_menu-item-description {
                    display: none;
                }
            }
            &#Contacts {
                height: 260px;
                .ncf_menu-item-contacts-address {
                    padding: 5px 0 0 0;
                    font-size: 22px;
                    &:before, &::before {
                        width: 20px;
                        height: 30px;
                        margin: 0 10px 0 0;
                    }
                }
                .ncf_menu-item-contacts-phone {
                    padding: 10px 0 0 0;
                    font-size: 25.33px;
                    &:before, &::before {
                        width: 23px;
                        height: 23px;
                        margin: 0 10px 0 0;
                    }
                }
            }
            &#YMapContainer {
                height: 240px;
            }
        }
    }
    //    афиша
    .ncf_schedule-area {
        .ncf_schedule-notes {
            padding: 10px 0 15px 0;
            h2 {
                padding: 0 15px 15px;
                font-size: 35px;
            }
            .ncf_schedule-notes-lable {
                margin: 0;
                padding: 5px 14px 9px 14px;
                font-size: 70px;
                line-height: 50px;
            }
            p {
                font-size: 17px;
                line-height: 20px;
                margin: 17px 15px;
            }
            .ncf_social-networks {
                padding: 14px 0 0 0;
                a {
                    &.instagram-link {
                        margin: 0;
                    }
                }
            }
        }
    }
    //    новости
    .ncf_news-content {
        .ncf_news-content-cell {
            .ncf_news-list {
                padding: 4px 20px 20px 20px;
                .ncf_news-list-item {
                    .ncf_news-item-date {
                        text-align: center;
                    }
                    .ncf_news-item-img {
                        width: 100%;
                        height: 282px;
                        margin: 5px 0 5px 0;
                        background-color: white;
                        .background-size(cover);
                        background-position: top center;
                    }
                }
            }
            &.ncf_media-area {
                padding: 4px 20px 20px 20px;
            }
        }
    }
    //    залы
    .halls-list {
        .ncf_element-table-item-container {
            .ncf_element-table-item-content {
                h3 {
                    padding: 18px 0 12px 0;
                    font-size: 35px;
                    line-height: 35px;
                }
                .ncf_hole-desc {
                    max-height: 180px;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
    //    цены
    #PriceList {
        .ncf_element-table-item {
            display: table;
        }
        .ncf_element-table-item-container {
            font-size: 16px;
            line-height: 20px;
            &.definition1, &.definition4, &.definition5, &.definition8 {
                display: table-cell;
                padding: 20px;
                vertical-align: middle;
            }
            &.definition4 {
                padding: 10px;
                line-height: 35px;
                font-size: 30px;
                >div {
                    display: inline-block;
                    margin: 25px 20px 15px;
                    padding: 4px 15px 10px 15px;
                    font-size: 30px;
                    line-height: 35px;
                }
                span {
                    text-transform: uppercase;
                }
            }
        }
    }
    //    3д тур
    .ncf_tour-area .ncf_tour-container {
        height: 200px;
    }
}

//@media all and (max-width: 499px) {
//    .ncf_header {
//        .ncf_header-phone {
//            display: none;
//        }
//    }
//    .ncf_footer .ncf_footer-lables {
//        display: none;
//    }
//    .ncf_bg-title {
//        line-height: 38px;
//        font-size: 38px;
//        .ncf_subtitle {
//            font-size: 16px;
//            line-height: 16px;
//        }
//    }
//    .ncf_page-description {
//        padding: 15px 25px;
//        line-height: initial;
//        font-size: 14px;
//    }
//    .ncf_aquamarine-title {
//        padding: 10px 31px 10px 0;
//        font-size: 38px;
//        .ncf_subtitle {
//            font-size: 16px;
//            line-height: 16px;
//        }
//    }
//    .ncf_element-table {
//        padding: 4px;
//        .ncf_element-table-item {
//            padding: 4px;
//        }
//        &#Photos,
//        &#Videos {
//            .ncf_element-table-item {
//                width: 100%;
//            }
//        }
//    }
//    //    главная
//    .ncf_main-page-slider {
//        display: none;
//    }
//    #MainPageMenu {
//        .ncf_element-table-item-container {
//            height: 160px;
//            padding: 15px 6%;
//            h1 {
//                padding: 0;
//                font-size: 40px;
//            }
//            .ncf_menu-item-description {
//                padding: 0;
//                font-size: 15px;
//                line-height: 18px;
//            }
//            &#Poster {
//                h1 {
//                    padding: 20px 0 0 0;
//                }
//                img {
//                    width: 100px;
//                    margin: 10px 15px 0 0;
//                }
//            }
//            &#Halls {
//                h1 {
//                    padding: 0;
//                }
//                .ncf_menu-item-description {
//                    padding: 0;
//                }
//            }
//            &#Price {
//                h1 {
//                    padding: 20px 0 0 0;
//                }
//                img {
//                    width: 100px;
//                    margin: 10px 10px 0 0;
//                }
//            }
//            &#Tour3D {
//                h1 {
//                    padding: 0;
//                }
//                img {
//                    width: 120px;
//                    margin: -8px 0 0 0;
//                }
//            }
//            &#VkGroup {
//                h1 {
//                    padding: 0;
//                    font-size: 30px;
//                    line-height: 45px;
//                }
//                img {
//                    width: 250px;
//                }
//                .ncf_menu-item-description {
//                    display: none;
//                }
//            }
//            &#Contacts {
//                height: 250px;
//                .ncf_menu-item-contacts-address {
//                    padding: 0;
//                    font-size: 18px;
//                    &:before, &::before {
//                        width: 20px;
//                        height: 30px;
//                        margin: 0 10px 0 0;
//                    }
//                }
//                .ncf_menu-item-contacts-phone {
//                    padding: 5px 0 0 0;
//                    font-size: 22.33px;
//                    &:before, &::before {
//                        width: 23px;
//                        height: 23px;
//                        margin: 0 10px 0 0;
//                    }
//                }
//            }
//            &#YMapContainer {
//                height: 240px;
//            }
//        }
//    }
//    //    афиша
//    .ncf_schedule-area {
//        .ncf_schedule-notes {
//            padding: 10px 0 15px 0;
//            h2 {
//                padding: 0 15px 10px;
//                font-size: 30px;
//            }
//            .ncf_schedule-notes-lable {
//                margin: 0;
//                padding: 5px 14px 9px 14px;
//                font-size: 70px;
//                line-height: 50px;
//            }
//            p {
//                font-size: 17px;
//                line-height: 20px;
//                margin: 17px 15px;
//            }
//            .ncf_social-networks {
//                padding: 14px 0 0 0;
//                a {
//                    &.instagram-link {
//                        margin: 0;
//                    }
//                }
//            }
//        }
//    }
//    //    новости
//    .ncf_news-content {
//        .ncf_news-content-cell {
//            .ncf_news-list {
//                padding: 4px 20px 20px 20px;
//                .ncf_news-list-item {
//                    .ncf_news-item-date {
//                        text-align: center;
//                    }
//                    .ncf_news-item-img {
//                        width: 100%;
//                        height: 282px;
//                        margin: 5px 0 5px 0;
//                        background-color: white;
//                        .background-size(cover);
//                        background-position: top center;
//                    }
//                }
//            }
//            &.ncf_media-area {
//                padding: 4px 20px 20px 20px;
//            }
//        }
//    }
//    //    залы
//    .halls-list {
//        .ncf_element-table-item-container {
//            .ncf_element-table-item-content {
//                h3 {
//                    padding: 18px 0 12px 0;
//                    font-size: 35px;
//                    line-height: 35px;
//                }
//                .ncf_hole-desc {
//                    max-height: 180px;
//                    font-size: 14px;
//                    line-height: 15px;
//                }
//                .ncf_order-hall-btn {
//                    width: 88%;
//                    button {
//                        width: 230px;
//                        height: 40px;
//                        font-size: 24px;
//                    }
//                }
//            }
//        }
//    }
//    //    цены
//    #PriceList {
//        .ncf_element-table-item-container {
//            font-size: 14px;
//            line-height: 16px;
//            &.definition1, &.definition4, &.definition5, &.definition8 {
//                display: table-cell;
//                padding: 20px;
//                vertical-align: middle;
//            }
//            &.definition4 {
//                padding: 10px;
//                line-height: 35px;
//                font-size: 30px;
//                >div {
//                    display: inline-block;
//                    margin: 25px 20px 15px;
//                    padding: 4px 15px 10px 15px;
//                    font-size: 30px;
//                    line-height: 35px;
//                }
//                span {
//                    text-transform: uppercase;
//                }
//            }
//        }
//    }
//    //    3д тур
//    .ncf_tour-area .ncf_tour-container {
//        height: 200px;
//    }
//}
@media all and (max-width: 499px) {
    .ncf_bg-title {
        line-height: 38px;
        font-size: 38px;
        .ncf_subtitle {
            font-size: 16px;
            line-height: 16px;
        }
    }
    .ncf_aquamarine-title {
        font-size: 38px;
        .ncf_subtitle {
            font-size: 16px;
            line-height: 16px;
        }
    }
    .ncf_element-table {
        &#Photos, &#Videos {
            .ncf_element-table-item {
                width: 100%;
            }
        }
    }
    //    главная
    #MainPageMenu {
        .ncf_element-table-item-container {
            height: 160px;
            h1 {
                font-size: 40px;
            }
            .ncf_menu-item-description {
                font-size: 15px;
                line-height: 18px;
            }
            &#Poster {
                img {
                    width: 100px;
                }
            }
            &#Price {
                img {
                    width: 100px;
                }
            }
            &#Tour3D {
                img {
                    width: 120px;
                }
            }
            &#VkGroup {
                img {
                    width: 250px;
                }
                .ncf_menu-item-description {
                    display: none;
                }
            }
            &#Contacts {
                height: 250px;
                .ncf_menu-item-contacts-address {
                    padding: 0;
                    font-size: 18px;
                }
                .ncf_menu-item-contacts-phone {
                    padding: 5px 0 0 0;
                    font-size: 22.33px;
                }
            }
        }
    }
    //    афиша
    .ncf_schedule-area {
        .ncf_schedule-notes {
            h2 {
                padding: 0 15px 10px;
                font-size: 30px;
            }
        }
    }
    //    залы
    .halls-list {
        .ncf_element-table-item-container {
            .ncf_element-table-item-content {
                .ncf_hole-desc {
                    line-height: 15px;
                }
            }
        }
    }
    //    цены
    #PriceList {
        .ncf_element-table-item-container {
            font-size: 14px;
            line-height: 16px;
        }
    }
}

//min 320
@media all and (max-width: 359px) {
    .ncf_order-hall-btn {
        width: 90%;
        >button {
            width: 200px;
            height: 40px;
            font-size: 24px;
        }
    }
    .ncf_header {
        .ncf_header-lable {
            .ncf_header-lable-up {
                font-size: 20px;
            }
            .ncf_header-lable-down {
                font-size: 16px;
            }
        }
    }
    .ncf_aquamarine-title {
        padding: 10px 0;
    }
    .ncf_bg-title {
        padding: 10px 0;
        .ncf_subtitle {
            margin: 4px 0 0 0;
        }
    }
    //    главная
    #MainPageMenu {
        .ncf_element-table-item-container {
            h1 {
                font-size: 38px;
            }
            .ncf_menu-item-description {
                font-size: 14px;
            }
            &#Poster {
                img {
                    margin: 10px 5px 0 0;
                }
            }
            &#Price {
                img {
                    margin: 10px 5px 0 0;
                }
            }
            &#Contacts {
                height: 230px;
                .ncf_menu-item-contacts-address {
                    font-size: 16px;
                }
                .ncf_menu-item-contacts-phone {
                    font-size: 20px;
                }
            }
        }
    }
    //    афиша
    .ncf_schedule-area {
        .ncf_schedule-notes {
            h2 {
                padding: 0 15px 10px;
                font-size: 30px;
            }
        }
    }
    //    залы
    .halls-list {
        .ncf_element-table-item-container {
            .ncf_element-table-item-content {
                .ncf_hole-desc {
                    line-height: 15px;
                    p {
                        margin: 0 0 10px 0;
                    }
                }
            }
        }
    }
    //    цены
    #PriceList {
        .ncf_element-table-item-container {
            font-size: 14px;
            line-height: 16px;
        }
    }
}