// out: ../css/style.css, compress: true, strictMath: true
@import "prefixer";
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic);
html {
    //    width: 100%;
    height: 100%;
}

a {
    color: #ebe8db;
    text-decoration: none;
    &:hover, &:active, &:visited, &:link {
        color: #ebe8db;
		
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    color: #ebe8db;
    font-family: Open Sans, sans-serif;
}

body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    color: #ebe8db;
    background-color: #fff;
    font-family: Open Sans, sans-serif;
    .ncf_container {
        max-width: 1366px;
//        min-width: 860px;
        min-height: 100%;
        margin: 0 auto;
        position: relative;
        padding-bottom: 90px;
        background-color: #ebe8db;
    }
    img {
        border: none;
    }
}

//заголовок страницы на зеленосинем фоне начало
.ncf_aquamarine-title {
    line-height: initial;
    padding: 23px 31px 29px 0;
    text-align: center;
    font-size: 75px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #09645c;
    .ncf_subtitle {
        display: inline-block;
        text-align: initial;
        font-size: 29.17px;
        line-height: 35px;
        font-weight: 400;
        letter-spacing: initial;
    }
}

//заголовок страницы на зеленосинем фоне конец
//заголовок страницы на фоне картинки начало
.ncf_bg-title {
    padding: 9px 0 6px 10px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #000;
    background-repeat: no-repeat;
    .background-size(cover);
    .ncf_subtitle {
        margin: 4px 0 0 13px;
        font-size: 29.17px;
        line-height: 35px;
        font-weight: 400;
        letter-spacing: initial;
    }
}

//заголовок страницы на фоне картинки конец
//стиль слайдеров сайта начало
.ncf_slider {
    .bx-wrapper {
        margin: 0;
        border: none;
        .box-shadow(none);
        .bx-controls-direction {
            a {
                width: 80px;
                height: 80px;
                top: 45%;
                z-index: 1000;
                &.bx-prev {
                    left: 15px;
                    background: url(../images/slider-prev.png);
                }
                &.bx-next {
                    right: 15px;
                    background: url(../images/slider-next.png);
                }
            }
        }
        .bx-pager {
            width: inherit;
            display: inline-block;
            top: 15px;
            bottom: inherit;
            right: 14px;
            padding: 8px 9px;
            background-color: rgba(0, 0, 0, 0.3);
            .bx-pager-item {
                margin-right: 8px;
                vertical-align: middle;
                &:last-child {
                    margin: 0;
                }
                a {
                    width: 14px;
                    height: 14px;
                    margin: 0;
                    .border-radius(50%);
                    background-color: rgba(225, 222, 208, 0.8);
                    &.active, &:focus, &:hover {
                        background-color: rgba(65, 252, 143, 0.8);
                    }
                }
            }
        }
    }
}

//стиль слайдеров сайта конец
//стили блоков таблично-плиточного отображения начало
.ncf_element-table {
    padding: 7px;
    &::before, &::after, &:before, &:after {
        content: " ";
        display: table;
        clear: left;
    }
    .ncf_element-table-item {
        width: 50%;
        padding: 7px;
        float: left;
        .box-sizing(border-box);
        .ncf_element-table-item-container {
            height: 310px;
            display: block;
            position: relative;
            .box-sizing(border-box);
            background-repeat: no-repeat;
        }
    }
}

//стили блоков таблично-плиточного отображения конец
//стиль кнопки бронирования зала начало
.ncf_order-hall-btn {
    width: 95%;
    position: absolute;
    bottom: 18px;
    >button {
        width: 248px;
        height: 50px;
        display: block;
        position: relative;
        margin: 0 auto;
        background-color: #2ac06b;
        border: none;
        border-bottom: 3px solid #17713e;
        .border-radius(5px);
        color: #f6f5ee;
        font-weight: 400;
        font-size: 29.17px;
        cursor: pointer;
        .transition(background-color 0.5s ease-out 0s);
        &:hover {
            background-color: #249957;
        }
        &:focus {
            outline: none;
        }
    }
}

//стиль кнопки бронирования зала конец
//формы обратной связи начало
.uk-modal-dialog {
    color: #444;
    h2 {
        color: inherit;
    }
    .uk-form {
        span {
            width: 100px;
            display: inline-block;
        }
    }
}

//формы обратной связи конец
//шапка начало
.ncf_header {
    height: 80px;
    background-color: #000000;
    .ncf_header-logo {
        display: inline-block;
        margin: 11px 0 0 12px;
        vertical-align: top;
    }
    .ncf_header-lable {
        display: inline-block;
        margin: 13px 0 0 9px;
        text-transform: uppercase;
        .ncf_header-lable-up {
            @height: 29.17px;
            line-height: @height;
            font-size: @height;
            font-weight: 700;
            letter-spacing: .9px;
            margin: 0 0 3px 0;
        }
        .ncf_header-lable-down {
            @height: 20.83px;
            line-height: @height;
            font-size: @height;
            font-weight: 400;
        }
    }
    .ncf_header-phone {
        float: right;
        margin: 18px 31px 0 0;
        text-align: center;
        .ncf_header-phone-number {
            @height: 20.83px;
            position: relative;
            left: 3px;
            top: -3px;
            margin: 0 0 4px 0;
            line-height: @height;
            font-size: @height;
            font-weight: 400;
            &:before {
                width: 20px;
                height: 20px;
                display: inline-block;
                position: relative;
                top: 3px;
                margin: 0 6px 0 0;
                content: '';
                background: url(../images/header-phone.png);
            }
        }
        .ncf_header-phone-link {
            @height: 16.67px;
            line-height: @height;
            font-size: @height;
            font-weight: 300;
            text-decoration: underline;
        }
    }
}

//шапка конец
//Главная страница, слайдер начало
.ncf_main-page-slider {
    //    height: 538px;
    .ncf_slider-item {
        //        height: 538px;
        position: relative;
        .ncf_slider-item-info {
            max-width: 1009px;
            padding: 6px 14px 11px 14px;
            position: absolute;
            bottom: 15px;
            left: 15px;
            right: 15px;
            .box-sizing(border-box);
            background-color: rgba(0, 0, 0, 0.65);
            .ncf_slider-item-info-title {
                font-size: 45.83px;
                line-height: 55px;
                color: #fdfb55;
                font-weight: 700;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            .ncf_slider-item-info-text {
                line-height: 25.83px;
                font-size: 20.83px;
                font-weight: 400;
            }
        }
    }
}

//Главная страница, слайдер конец
//Главная страница, меню начало
#MainPageMenu {
	
		.vk-container, 
		.instagram-container {
            display:inline-block;
			height: 100%;
            width: 48.8%;
			overflow: hidden;
			position: relative;
			img {
  				position: absolute;
  				top: 0;
  				left: 0;
  				bottom: 0;
  				right: 0;
  				margin: auto;
				width: 100%;
			}
		
		}
		.vk-container {
			float: left;
			background-color: #4c75a3;
		}
	
		.instagram-container {
			float: right;
			background-color: #3b5998;
			.instansive-widget {
                position: absolute;
				top: 0;
                left: 0;
                .transition(all);
				.transition-duration(0.3s);
                opacity: 0;
			}
			.instansive-widget:hover {
                opacity: 1;
                .transition(all);
				.transition-duration(0.3s);
			}
		}
	
	.ncf_element-table-item {
		overflow: hidden;
	}
    .ncf_element-table-item-container {
        display: block;
        padding: 48px 6%;
        .box-sizing(border-box);
        .background-size(cover);
        img {
            float: right;
        }
        h1 {
            margin: 0;
            line-height: 60px;
            padding: 48px 0 0 0;
            font-size: 75px;
            font-weight: 800;
            text-transform: uppercase;
        }
        .ncf_menu-item-description {
            padding: 17px 0 0 0;
            line-height: 35px;
            font-size: 29.17px;
            font-weight: 400;
            text-transform: uppercase;
        }
        &#Poster {
            background-color: #eb662b;
            h1 {
                text-indent: 5px;
            }
            img {
                margin: 0 15px 0 0;
            }
        }
        &#News {
            background-image: url(../images/menu-news-bg.jpg);
            h1 {
                letter-spacing: 2px;
            }
            .ncf_menu-item-description {
                max-width: 425px;
            }
        }
        &#Halls {
            background-image: url(../images/menu-hall-bg.jpg);
            h1 {
                padding: 23px 0 0 4px;
                letter-spacing: 2px;
            }
            .ncf_menu-item-description {
                padding: 15px 0 0 0;
            }
        }
        &#Price {
            background-color: #dd466d;
            img {
                margin: -4px 8% 0 0;
                float: right;
            }
        }
        &#Tour3D {
            padding: 29px 7% 35px 6%;
            ;
            background-color: #3bcb79;
            h1 {
                padding: 62px 0 0 0;
            }
            .ncf_menu-item-description {
                max-width: 290px;
            }
        }
		
        &#VkGroup {
            padding: 20px 0;
            img {
                display: block;
                margin: 0 auto;
                float: left;
            }
        }
		
        &#Contacts {
            padding: 30px 6%;
            background-color: #252525;
            h1 {
                padding: 0;
                letter-spacing: 3px;
            }
            .ncf_menu-item-contacts-address {
                padding: 29px 0 0 4px;
                font-size: 29.17px;
                font-weight: 400;
                &:before {
                    width: 25px;
                    height: 37px;
                    display: inline-block;
                    margin: 0 22px 0 0;
                    content: '';
                    vertical-align: middle;
                    background-image: url(../images/contacts-location-logo.png);
                    .background-size(contain);
                    background-repeat: no-repeat;
                }
            }
            .ncf_menu-item-contacts-phone {
                padding: 22px 0 0 3px;
                font-size: 33.33px;
                font-weight: 400;
                &:before {
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    margin: 0 16px 0 0;
                    content: '';
                    vertical-align: middle;
                    background-image: url(../images/contacts-phone-logo.png);
                    .background-size(contain);
                    background-repeat: no-repeat;
                }
            }
            .ncf_order-hall-btn {
                left: 15px;
                bottom: 27px;
            }
        }
        &#YMapContainer {
            width: auto;
            height: 310px;
            padding: 0;
        }
    }
}

//Главная страница, меню главной страницы конец
//подвал начало
.ncf_footer {
    height: 90px;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 16.67px;
    color: rgba(235, 232, 219, 0.4);
    background-color: #000000;
    .ncf_footer-info {
        display: inline-block;
        padding: 18px 0 0 31px;
        letter-spacing: -.3px;
        .ncf_footer-info-sign {
            font-weight: 300;
            color: rgba(235, 232, 219, 0.4);
            span {
                text-transform: uppercase;
                .yellow-text {
                    color: rgba(245, 180, 54, 0.4);
                }
            }
        }
        .ncf_footer-info-copyright {
            padding: 3px 0 0 0;
            font-weight: 300;
        }
    }
    .ncf_footer-lables {
        display: inline-block;
        padding: 19px 29px 0 0;
        float: right;
        .ncf_footer-lables-item {
            width: 49px;
            height: 45px;
            display: inline-block;
            position: relative;
            margin: 0 10px 0 0;
            text-align: center;
            background-position: center;
            background-repeat: no-repeat;
            .background-size(contain);
            &.wifi-logo {
                background-image: url(../images/wifi-logo.png);
            }
            &.tea-logo {
                background-image: url(../images/tea-logo.png);
            }
            &.guitar-logo {
                background-image: url(../images/guitar-logo.png);
            }
            &.car-logo {
                background-image: url(../images/car-logo.png);
            }
            &.no-smoking-logo {
                background-image: url(../images/no-smoking-logo.png);
            }
            &.no-alcohol-logo {
                background-image: url(../images/no-alcohol-logo.png);
            }
            &:hover {
                background-color: #363636;
                .prompt {
                    visibility: visible;
                }
            }
            &:last-child {
                margin: 0;
            }
            .prompt {
                position: absolute;
                bottom: 60px;
                right: 0;
                visibility: hidden;
                padding: 14px 19px;
                background-color: #CECBC0;
                border: 1px solid #8D8B83;
                text-transform: uppercase;
                white-space: nowrap;
                color: rgba(47, 46, 46, 0.8);
                &::after, &:after {
                    content: " ";
                    width: 10px;
                    display: block;
                    position: absolute;
                    bottom: -20px;
                    right: 18px;
                    .box-sizing(border-box);
                    border: 5px solid transparent;
                    border-top: 15px solid #CECBC0;
                }
            }
        }
    }
}

//подвал конец
//Цены, прайс-лист начало
#PriceList {
    .ncf_element-table-item-container {
        overflow: auto;
        .background-size(cover);
        
          background-position: center;
        background-color: #244855;
        line-height: 25.5px;
        font-size: 20.83px;
        font-weight: 400;
        &.definition1 {
            padding: 56px 30px 0 26px;
        }
        &.definition2 {
            background-image: url(../images/price-list-bg-1.jpg);
        }
        &.definition3 {
            background-image: url(../images/price-list-bg-2.jpg);
        }
        &.definition4 {
            padding: 25px 0 0 0;
            text-align: center;
            line-height: 40px;
            font-size: 41.67px;
            >div {
                display: inline-block;
                margin: 25px 0 17px 12px;
                padding: 2px 15px 19px 25px;
                letter-spacing: 3px;
                color: #fdfb55;
                font-size: 75px;
                font-weight: 700;
                line-height: 75px;
                border: 4px solid #ebe8db;
            }
            span {
                text-transform: uppercase;
            }
        }
        &.definition5 {
            padding: 71px 40px 0 34px;
        }
        &.definition6 {
            background-image: url(../images/price-list-bg-3.jpg);
        }
        &.definition7 {
            background-image: url(../images/price-list-bg-4.jpg);
        }
        &.definition8 {
            padding: 90px 40px 0 33px;
        }
    }
}

//Цены, прайс-лист конец
//Залы начало
.halls-title {
    background-image: url(../images/halls-title-bg.jpg);
}

.ncf_page-description {
    padding: 29px 35px 24px 42px;
    line-height: 25.5px;
    font-size: 20.83px;
    font-weight: 400;
    background-color: #244855;
}

.halls-list {
    .ncf_element-table-item-container {
        .background-size(cover);
          background-position: center;
        .ncf_element-table-item-content {
            height: 100%;
            padding: 0 19px 0 19px;
            position: relative;
            opacity: 0;
            font-size: 16.67px;
            color: #f2f0e8;
            font-weight: 400;
            line-height: 21px;
            background-color: rgba(0, 0, 0, 0.75);
            .transition(opacity 0.5s ease-out 0s);
            h3 {
                margin: 0;
                padding: 24px 0 15px 0;
                text-transform: uppercase;
                text-align: center;
                font-size: 45.83px;
                line-height: 36px;
                font-weight: 700;
            }
            .ncf_hole-desc {
                max-height: 200px;
                overflow: auto;
            }
        }
        &:hover .ncf_element-table-item-content {
            opacity: 1;
        }
        &.definition1 {
            background-image: url(../images/halls-list-bg-1.jpg);
        }
        &.definition2 {
            background-image: url(../images/halls-list-bg-2.jpg);
        }
        &.definition3 {
            background-image: url(../images/halls-list-bg-3.jpg);
        }
        &.definition4 {
            background-image: url(../images/halls-list-bg-4.jpg);
        }
        &.definition5 {
            background-image: url(../images/halls-list-bg-5.jpg);
        }
        &.definition6 {
            background-image: url(../images/halls-list-bg-6.jpg);
        }
        &.definition7 {
            background-image: url(../images/halls-list-bg-7.jpg);
        }
        &.definition8 {
            background-image: url(../images/halls-list-bg-8.jpg);
        }
        &.definition9 {
            background-image: url(../images/halls-list-bg-9.jpg);
        }
        &.definition10 {
            background-image: url(../images/halls-list-bg-10.jpg);
        }
    }
}

//Залы конец
//афиша начало
.ncf_schedule-area {
    display: table;
    min-height: 498px;
    background-color: #788387;
    .ncf_schedule-notes {
        width: 50%;
        //        width: 520px;
        display: table-cell;
        padding: 28px 0 42px 0;
        vertical-align: top;
        text-align: center;
        h2 {
            color: #ebe8db;
            margin: 0;
            text-align: left;
            padding: 0 55px;
            font-size: 45.83px;
            font-weight: 400;
            line-height: initial;
        }
        .ncf_schedule-notes-lable {
            display: inline-block;
            margin: 15px 1px 0 -55px;
            padding: 5px 14px 13px 14px;
            letter-spacing: 3px;
            color: #fdfb55;
            font-size: 97px;
            font-weight: 700;
            line-height: 75px;
            border: 4px solid #ebe8db;
        }
        p {
            font-size: 25px;
            font-weight: 400;
            text-align: left;
            line-height: 30px;
            margin: 17px 55px;
            &:first-child {
                margin: 0;
            }
            a {
                text-transform: uppercase;
                text-decoration: underline;
                &:hover, &:active, &:focus {}
            }
        }
        .ncf_social-networks {
            padding: 14px 0 0 0;
            a {
                width: 60px;
                height: 60px;
                display: inline-block;
                margin: 0 21px 0 0;
                background-repeat: no-repeat;
                &.vk-link {
                    background-position: 0px -62px;
                    background-image: url(../images/logos.png);
                    &:hover {
                        background-position: 0 0;
                    }
                }
                &.instagram-link {
                    background-position: -62px -62px;
                    background-image: url(../images/logos.png);
                    &:hover {
                        background-position: -62px 0;
                    }
                }
            }
        }
    }
    .ncf_calendar {
        color: #ccc;
        height: 100%;
        display: table-cell;
        vertical-align: top;
        padding: 19px 16px 19px 0;
        .box-sizing(border-box);
        float: right;
        .ncf_calendar-container {
            height: 100%;
            padding: 10px;
            background-color: #fff;

        }
    }
}

.ncf_posters {
    padding: 22px 78px;
    background-color: #244855;
    ul {
        .box-sizing(border-box);
        li {
//            height: 355px;
            padding: 5px;
            //            padding: 0 22px;
            .box-sizing(border-box);
            img {
                height: auto;
                margin: 0 auto;
                display: block;
                border: 14px solid #ebe8db;
            }
        }
    }
    a.uk-slidenav {
        font-size: 100px;
    }
}

//афиша конец
//3Д тур начало
.ncf_tour-area {
    padding: 40px 35px;
    background-color: #788387;
    .ncf_tour-container {
        height: 589px;
        background-color: white;
    }
}

//3д тур конец
//новости начало
.news-title {
    background-image: url(../images/news-title-bg.jpg);
}

.ncf_news-content {
    width: 100%;
    min-height: 300px;
    display: table;
    .ncf_news-content-cell {
        width: 50%;
        display: table-cell;
        .box-sizing(border-box);
        &.ncf_news-area {
            background-color: #244855;
        }
        &.ncf_media-area {
            padding: 0 42px 42px 42px;
            background-color: #788387;
        }
    }
}

.ncf_news-content-cell {
    h2 {
        line-height: 60px;
        padding: 6px 0 5px 0;
        text-align: center;
        font-weight: 400;
        font-size: 42px;
        color: #ebe8db;
        text-transform: uppercase;
    }
}

.ncf_news-list {
    padding: 4px 40px 20px 39px;
    .ncf_news-list-item {
        padding: 0 0 13px 0;
        text-align: justify;
        &::after, &:after {
            content: '.';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
        .ncf_news-item-date {
            color: #fdfb55;
            line-height: 28px;
            font-size: 20.83px;
            font-weight: 400;
        }
        .ncf_news-item-img {
            width: 210px;
            height: 210px;
            margin: 5px 12px 0 0;
            float: left;
            background-color: white;
            .background-size(cover);
            background-position: top center;
        }
        p {
            margin: 0;
        }
        a.news-link{
            text-decoration: underline;
        }
    }
}

.ncf_news-archive {
    display: none;
    padding: 17px 0 50px 0;
    text-align: center;
    >a {
        font-size: 20.83px;
        color: #f2f0e8;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: underline;
    }
}

.ncf_media-area {
    .ncf_photo-area, .ncf_video-area {
        min-height: 400px;
        background-color: white;
    }
    .ncf_photo-area {
        .ncf_element-table-item-container {
            height: 185px;
            overflow: hidden;
            .img_link {
                height: 100%;
                position: relative;
                display: block;
                text-align: center;
                .album-bg {
                    height: 100%;
                    background-position: top center;
                    .background-size(cover);
                }
                .page_album_title_wrap {
                    width: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7f000000', endColorstr='#7f000000')";
                    color: white;
                    position: absolute;
                    top: 0px;
                    margin-top: 162px;
                    text-align: left;
                    padding: 6px 0px 6px;
                    line-height: 12px;
                    .page_album_description {
                        max-height: 49px;
                        margin: 6px 6px 0px;
                        font-size: 0.9em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .clear_fix {
                        font-size: 12px;
                        &::after, &:after {
                            content: '.';
                            display: block;
                            height: 0;
                            clear: both;
                            visibility: hidden;
                        }
                        .page_album_title {
                            white-space: nowrap;
                            overflow: hidden;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                            max-width: 75%;
                            font-weight: bold;
                            margin-left: 6px;
                            float: left;
                        }
                        .page_album_camera {
                            background: url(https://vk.com/images/camera_white.png) 0 2px no-repeat;
                            padding-left: 14px;
                            font-weight: bold;
                            margin: 0px 6px;
                            position: absolute;
                            right: 0;
                            float: left;
                        }
                    }
                }
            }
        }
    }
    .ncf_video-area {
        .ncf_element-table-item-container {
            height: initial;
            iframe {
                width: 100%;
                  
                  min-height: 190px;
            }
        }
    }
}

//новости конец