<div class="ncf_footer">
    <div class="ncf_footer-info">
        <a href="http://progress-time.ru/" target="_blank" class="ncf_footer-info-sign">Разработано в <span><span class="yellow-text">progress</span> time</span></a>
        <div class="ncf_footer-info-copyright">
            &#169; 2015, Все права защищены
        </div>
    </div>
    <div class="ncf_footer-lables">
        <div class="ncf_footer-lables-item wifi-logo">
            <div class="prompt">Бесплатный Wi-Fi</div>
        </div>
        <div class="ncf_footer-lables-item tea-logo">
            <div class="prompt">Бесплатные напитки</div>
        </div>
        <div class="ncf_footer-lables-item guitar-logo">
            <div class="prompt">Живая музыка</div>
        </div>
        <div class="ncf_footer-lables-item car-logo">
            <div class="prompt">Бесплатная парковка</div>
        </div>
        <div class="ncf_footer-lables-item no-smoking-logo">
            <div class="prompt">У нас не курят</div>
        </div>
        <div class="ncf_footer-lables-item no-alcohol-logo">
            <div class="prompt">Без алкоголя</div>
        </div>
    </div>
</div>

<div id="hole-dialog" class="uk-modal">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h2>Заказать зал</h2>
        </div>
        <form class="uk-form" action="javascript:void(null);" method="post" name="send_request_dialog" onsubmit="checkHallForm(send_request_dialog,call, function(){UIkit.modal('#hole-dialog').hide();})">
            <fieldset data-uk-margin>
                <legend>Оставьте свои контакты и мы свяжемся с вами</legend>
                <div class="uk-form-row">
                    <span>E-mail: </span>
                    <input name="mail" class="uk-width-1-2" type="text" placeholder="Введите E-mail">
                </div>
                <div class="uk-form-row">
                    <span>Телефон: </span>
                    <input name="phone" class="uk-width-1-2" type="text" placeholder="Введите номер телефона">
                </div>
                <div class="uk-form-row">
                    <span>Зал: </span>
                    <select name="hole">
                        <option disabled selected>Выберите зал</option>
                        <option>Бар</option>
                        <option>Переговорная</option>
                        <option>Центральная комната</option>
                        <option>Chillout</option>
                        <option>Kinect</option>
                        <option>Танцпол</option>
                        <option>Пуэр-бар</option>
                        <option>XBOX</option>
                        <option>Амфитеатр</option>
                        <option>2 этаж</option>
                    </select>
                </div>
            </fieldset>
            <button class="uk-button uk-margin-large-top">Отправить</button>
        </form>
    </div>
</div>

<div id="feedback-call" class="uk-modal">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h2>Заказать обратный звонок</h2>
        </div>
        <form class="uk-form" action="javascript:void(null);" method="post" name="feed_back_call" onsubmit="feedbackCall(feed_back_call,call,function(){UIkit.modal('#feedback-call').hide();})">
            <fieldset data-uk-margin>
                <legend>Оставьте свои контакты и мы свяжемся с вами</legend>
                <div class="uk-form-row">
                    <span>E-mail: </span>
                    <input name="mail" class="uk-width-1-2" type="text" placeholder="Введите E-mail">
                </div>
                <div class="uk-form-row">
                    <span>Телефон: </span>
                    <input name="phone" class="uk-width-1-2" type="text" placeholder="Введите номер телефона">
                </div>
            </fieldset>
            <button class="uk-button uk-margin-large-top">Отправить</button>
        </form>
    </div>
</div>