<div class="ncf_header">
    <a href="index.php">
        <img class="ncf_header-logo" src="images/header-logo.png"></img>
    </a>
    <div class="ncf_header-lable">
        <div class="ncf_header-lable-up">некафе</div>
        <div class="ncf_header-lable-down">свободное пространство</div>
    </div>
    <div class="ncf_header-phone">
        <div class="ncf_header-phone-number">8 (904) 958 96 95</div>
        <div class="ncf_header-phone-link">
            <a href="#feedback-call" data-uk-modal>Заказать обратный звонок</a>
        </div>
    </div>
</div>


